.border {
  border: 2px solid rgb(238, 232, 232);
  margin:3px;
}

.flex{
    display:flex;
}

.justify-center{
    justify-content: center;
}

.align-items{
    align-items: center;
}

.bg-black{
    background-color: black;
    color:white;
}
.bg-grey{
    background-color: #121212;
}

.invert{
    filter: invert(1);
}

.rounded{
    border-radius:7px;
}

.m-1{
    margin:5px;
}

.p-1{
    padding:10px;
}

.width{
    width:14px;
}





  

