* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background: #000430;
  --secondaryBackground: #171c48;
  --text: #fff;
  --purple: #828dff;
  --teal: #24feee;
}

body {
  background-color: var(--background);
  color: var(--text);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  max-width: 500px;
  margin: 120px auto 0 auto;
  /* border:2px solid black; */
}

.statsContainer {
  padding: 30px;
  border-radius: 20px;
  border: 2px solid var(--purple);
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.details {
  width: 100%;
}

.progressBar {
  width: 100%;
  height: 10px;
  background-color: var(--secondaryBackground);
  margin-top: 20px;
  border-radius: 5px;
}
#progress {
  width: 50%;
  height: 10px;
  background-color: var(--teal);
  border-radius: 10px;
  transition: all 0.3s ease;
}
#numbers {
  width: 100px;
  height: 100px;
  background-color: var(--purple);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  border-radius: 50%;
}

form {
  display: flex;
  margin-top: 60px;
  width: 100%;
  gap:10px;
}
input {
  flex: 1;
  padding: 16px;
  background-color: var(--secondaryBackground);
  border: 1px solid var(--purple);
  border-radius:10px;
}

button{
    height:50px;
    width:50px;
    border-radius: 10%;
}
